Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-Principal==0.4.0
Flask-Admin==1.1.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.7
TravisPy==0.3.3
Werkzeug==0.9.6
icalendar==3.8.2
itsdangerous==0.24
pysqlite==2.6.3
pytz==2014.4
requests==2.3.0
wsgiref==0.1.2
simpleldap==0.8
WTForms==2.0.2
