{% macro breadcrumbs(data) %}
  <ol class="breadcrumb">
    {% for url, text in data %}
      <li>
        {% if url %}
          <a href="{{ url }}">{{ text }}</a>
        {% else %}
          {{ text }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endmacro %}


{% macro worktimes_table(worktimes, user=False) %}
  <table class="table">
    {% for wt in worktimes %}
      <tr {{ flag_format(wt.project) }}>
        <td>{{ wt.day }}</td>
        <td>
          {% if not user %}
            {{ wt.project or '?' }}
          {% else %}
            {% set url = url_for('.user', user_id=wt.user_id, month=month) %}
            <a href="{{ url }}">{{ wt.user }}</a>
          {% endif %}
        </td>
        <td>{% if wt.hours %}{{ wt.hours }} hours{% else %}-{% endif %}</td>
        <td><em>{{ wt.details }}</em>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% macro flag_format(project) %}
class="
  {%- if project.holiday %}bg-warning{% endif %}
  {%- if not project %}bg-danger{% endif %}
  {%- if project.unpaid %}bg-success{% endif -%}
"
{% endmacro %}
