{% extends 'user/user.html' %}
{% from '_macros.html' import flag_format, hours %}

{% block tablecontent %}
  <table class="table">
    <tr>
      <th>Project</th>
      <th>Tickets</th>
      <th>Hours</th>
      <th>Days</th>
    </tr>
    {% for row in data %}
      <tr {{ flag_format(row[0]) }}>
        <td>{{ row[0] or '?' }}</td>
        <td>
          {% for t in row[2] %}
            {{ t.number }}
          {% endfor %}
        </td>
        <td>{{ hours(row[1]) }}</td>
        <td>{{ hours(row[1]/8) }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
