{% extends 'user/user.html' %}
{% from '_macros.html' import flag_format, hours, tickets %}

{% block tablecontent %}
  <table class="table">
    <tr>
      <th>Project</th>
      <th>Tickets</th>
      <th>Hours</th>
      <th>Days</th>
    </tr>
    {% for project, hours, ts in data %}
      <tr {{ flag_format(project) }}>
        <td>{{ project or '?' }}</td>
        <td>{{ tickets(ts) }}</td>
        <td>{{ hours(hours) }}</td>
        <td>{{ hours(hours/8) }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
